*{
    margin: 0; 
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: black;
}

.header {
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;

    z-index: 1000;
}

.logo {
    font-size: 18px;
    color: white;

    margin: 15px;
}


.navigation a{
    color: white;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding: 5px 20px;
    min-width:45px;
}

@media screen and (max-device-width: 767px) {
    .navigation a{
        display: none;
    }

    .logo {
        font-size: 12px;
    }
}

.navigation a:hover {
    background-color: white;
    color: black;
    border-radius: 70px;

    transition: 0.5s;
}

.container_video {
    position: relative;

    height: 70vh;
    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

@media screen and (max-device-width: 1439px) {
    .container_video {
        height: 100vh;
    }

    .logo {
        font-size: 12px;
    }
}

.container_video video {
    position: absolute; 
    
    /* Making the video Responsive */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width:100%;
    height:100%;

    object-fit: cover;
    display: block;
}

.container_video .overlay{
    position:absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay h1 {
    font-size: 10vh;
    text-align: center;
    color: white;

    margin-bottom: 10px;

    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.overlay a {
    color: white;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
    border-color: white;
    border-style: solid;
    min-width:100px;

    margin-top: 0;
    
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.overlay a:hover {
    background-color: white;
    color: black;

    transition: 0.5s;
}

.section2 {
    position:relative;
    background-color: white;

    text-align: center;
}

.section2 h1{
    font-size: 3em;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;

    color:white; 
}

.section3 h1{ 
    font-size: 3em;
}

.section3 iframe{
    margin:30px;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.section3 .box {
    margin: 25px;
}

.section3 iframe:hover{
    transform: scale(1.1);
    opacity: 1;

    transform-origin: center;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 7px; 
    background-color: white;
    margin: 30px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2em;
    color:black;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.attribution {
    margin: 5px;
}

.attribution a {
    text-decoration: none;
    color: white;
}