*{
    margin: 0; 
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: black;
}

.no-scroll {
    overflow: hidden;
}

.fullscreenmenu {
    display: none;

    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(255,255,255,0.8);
    flex-direction: column;
    z-index: 1000;
}

.menu-button {
    min-width: 15%; 
}

.hamburger {
    color: white;
    float: right; 
    font-size: 20px;
    margin-right: 15px; 

    cursor: pointer; 
    
    display: none; 
}

.hamburger.black {
    color:black;
}

#checkbox {
    display: none; 
}

@media screen and (max-width: 767px) {
    .hamburger{
        display: block; 
    }
}

.header {
    width: 100%;
    background-color: rgba(0,0,0,0.8); /* applicando l'opacità solo al colore di sfondo */

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    transition: top 0.3s;

    z-index: 1000;

    backdrop-filter: blur(8px); /* sfocatura */
    -webkit-backdrop-filter: blur(8px); /* compatibilità con Safari */
}

.header.white {
    background-color: rgba(255,255,255,0.8);

    transition: 0.3s;
}

.logo {
    font-size: 18px;
    color: white;

    margin: 15px;
}

.logo.black {
    color:black;
}

.navigation a{
    color: white;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding: 5px 20px;
    min-width:45px;
}

@media screen and (max-width: 767px) {
    .navigation a{
        display: none;
    }

    .logo {
        font-size: 12px;
    }
}

.navigation a:hover {
    background-color: white;
    color: black;
    border-radius: 70px;

    transition: 0.5s;
}

.container_video {
    position: relative;

    height: 100vh;
    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

@media screen and (max-device-width: 1439px) {
    .container_video {
        height: 100vh;
    }

    .logo {
        font-size: 12px;
    }
}

.container_video video {
    position: absolute; 
    
    /* Making the video Responsive */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width:100%;
    height:100%;

    object-fit: cover;
    display: block;
}

.container_video .overlay{
    position:absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay h1 {
    font-size: 10vh;
    text-align: center;
    color: white;

    margin-bottom: 10px;

    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.overlay a {
    color: white;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
    border-color: white;
    border-style: solid;
    min-width:100px;

    margin-top: 0;
    
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.overlay a:hover {
    background-color: white;
    color: black;

    transition: 0.5s;
}

.section2 {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

    position:relative;
    background-color: white;
}

@media screen and (max-width: 767px) {
    .section2 {
        align-items: flex-start;
        text-align: left;
    }
}

.section2 h1{
    font-size: 3em;
    margin: 2.5%; 
}

.section2 h2, h3{
    margin: 2.5%;
}

.section2 a{
    color: white;
    text-decoration: none;
    text-align: center;

    font-size: 16px;

    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
    background-color: black;
    min-width:80px;

    /* fake border to avid animation errors */
    border-color: none; 
    border-style: solid; 

    margin: 5%; 
}

.section2 a:hover{
    color: black;
    background-color: white; 

    border-color: black;
    border-style: solid;

    transition: 0.3s;
}

.section3 {
    height: 100vh;
    width: 100%;
    overflow: hidden; 

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;

    color:white; 
}

.section3 h1{ 
    font-size: 3em;
}

.section3 iframe{
    margin:30px;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.section3 .box {
    margin: 25px;
}

.section3 iframe:hover{
    transform: scale(1.1);
    opacity: 1;

    transform-origin: center;
}

.cookies{
    width: 100%;
    height: 10vh;
    
    background-color: white;

    display:flex;
    justify-content: space-between;
    align-items: center;

    position: fixed; 
    bottom: 0; 
    z-index: 1000;
}

.cookies p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    margin: 20px;
}

#accept-cookies{
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;

    display: inline-block;
    padding: 5px 20px;
    border-radius: 70px;
    margin: 20px;
    border-color: black;
    border-style: solid;
    min-width:100px;

    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 7px; 
    background-color: white;
    margin: 30px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2em;
    color:black;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.attribution {
    margin: 5px;
}

.attribution a {
    text-decoration: none;
    color: white;
}